[Unit]
Description=xenbakd is a backup daemon for Xen / XCP-NG hosts
After=network-online.target  

[Service]
Type=simple
ExecStart=/bin/bash -c '/usr/bin/xenbakd --config /etc/xenbakd/config.toml daemon > /var/log/xenbakd/xenbakd.log'
Restart=always  

[Install]
WantedBy=multi-user.target
